/* input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    /* display: none;
    -webkit-appearance: none; */
/* background: #fff; */
/* } */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
  /* border-radius: 20px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 20px;
}
/* ::-webkit-scrollbar-button{
  background: rgba(0, 128, 0, 0.253);
  color: #fff;
} */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", Arial, Helvetica, sans-serif !important;
}
::selection {
  background-color: #08b53cdb;
  color: #fff;
}

body {
  overflow-x: hidden;
  z-index: 0;
  font-family: Arial, Helvetica, sans-serif !important;
  padding-right: 0px !important;
  margin-right: 0px !important;
}
.row .col-md-8 {
  z-index: 0;
  /* left: 300px; */
}

* {
  box-sizing: border-box;
}
.container {
  max-width: 900px;
}
.row #sidebar {
  position: sticky;
  display: block;
  z-index: 0;
  height: 100vh;
  /* top: 0; */
  /* max-height: calc(200vh - 9rem); */
  /* max-width: 300px; */
}
.row #sidebar .sidebarinner {
  overflow-y: auto;
  height: 100%;
  max-width: 292px;
  background-color: #fff;
  padding: 10px;
  position: relative;
  z-index: 2;
  /* overflow: auto; */
  /* max-height: calc(200vh - 9rem); */
}
.rental .fa {
  display: none;
}
.fa2 {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
}
.hoverablediv {
  display: flex;
  flex-direction: column;
}
.hoverablediv div {
  cursor: pointer;
}
.hoverablediv div:hover {
  background: #e9e7e7;
}
.modal-header h6 {
  font-size: 30px;
  /* padding-left: 300px; */
  text-align: center;
}
.modal-header {
  border-bottom: none;
}
body .btn:hover{
  transform: scale(0.9);
}
.modal-footer {
  border-top: none;
}
.modal-title h6 button.close {
  font-weight: bolder !important;
}
/* .modal-title button.close {
  padding-left: 300px !important;
} */
.modal {
  margin-top: 160px;
}
.modal[style] {
  padding-right: 0px !important;
}
.modal-footer button {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  border-radius: 0 !important;
}
.thespace p {
  font-size: 18px;
}

nav {
  flex-grow: 1;
}

/* #sidebar-container {
  overflow: hidden;
  width: px;
  transition: 0.5s;
} */
#sidebar {
  width: 300px;
  /* min-height: 300px; */
  box-sizing: border-box;
}
@media (min-width: 780px) {
  .navbar {
    display: none !important;
  }
}

@media (max-width: 780px) {
  .container #sidebar {
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 2000;
    background-color: #0000009e !important;
    top: 0;
  }
  .dBlock {
    display: block !important;
  }
  .rental .fa {
    display: block;
  }
  .fa2:hover {
    background-color: #a0a0a0;
    color: #fff;
  }
  .row .col-md-8 {
    left: 0;
  }
  .container .row {
    width: fit-content;
  }
  .navbar {
    display: flex;
  }
  body {
    display: block !important;
  }
}
