$primary: #392d85;
$secondary: linear-gradient(150deg, #32267d 0%, #9584ee 100%);
@import '~@flaticon-uicons/src/uicons/css/all/.css';

.navbar {
    background-color: $primary;
    height: 98.84px;

    .navbar-brand {
        img {
            width: 175px;
            height: 31.6px;
        }
    }

    .navbar-nav {
        display: flex;
        align-items: center;

        .nav-link {
            padding: 0 !important;

            a {
                height: 95px !important;
                color: #fff;
                font-size: 16px;
                text-decoration: none;
                display: flex;
                align-items: center;
                padding: 8px;
            }

            i {
                padding: 8px;
            }
        }
    }
}


.hero {
    background: #40338d;
    padding: 100px 60px;
    color: #fff;
    .leftside {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .actionBtns {
            .getStarted{
                background: linear-gradient(158deg, #34ffdf 0%, #1bcdf8 100%);
                border-color: #34ffdf;
            }
            .knowMore{
                border-color: #34ffdf;
                background-color: transparent;
                margin-left: 20px;
            }
            .getStarted,
            .knowMore {
               &:hover{
                transform: scale(1.1);
                transition: all 0.3s ease;
               }
                box-shadow: 0 20px 20px -10px rgb(63 51 137 / 23%);
                padding: 16px 35px;
                font-size: 18px;
                color: #fff;
                border-radius: 4px;
                transition: all 0.3s ease
            }

            ;
        }
    }
    .rightside{
        position: relative;
        img{
            transform: scale(1.5) translate(10%, -30%);
            position: absolute;

        }
    }
}
